.App {
  text-align: center;
  font-family: "MS Sans Serif",Segoe UI,sans-serif;;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  font-family: "MS Sans Serif",Segoe UI,sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* 
.display-4 {
    color: black;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}
 */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.desktop-icon {
    text-align: center;
    cursor: pointer;
    image-rendering: pixelated
}

.desktop-icon-title {
    color: #fff;
    font-family: "MS Sans Serif",Segoe UI,sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: none;
    margin-top: 5px;
    width: 100%;
    border: 1.5px dotted transparent;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.desktop-icon.selected .desktop-icon-title {
    background-color: navy;
    border-color: #fff
}

.desktop-icon.selected img {
    filter: brightness(.35) sepia(100%) hue-rotate(148deg) saturate(10)
}


